<div class="content">
	<div class="note_header">
		<div class="note_title">
			My Notes:
		</div>
		<!--<div class="note_actions">-->
			<!--<div class="action_button" [routerLink]="['/note/new']">Add note</div>-->
		<!--</div>-->
	</div>

	<div class="note" *ngFor="let note of notes">
		<div class="note_tile">
			{{ note.title }}
		</div>
		<div class="note_body">
			{{ note.body}}
		</div>
    <div >
      <input class="delete-note" type="submit" value="Delete the Note" (click)="deleteTheNote(note.id)"/>
    </div>
    <div >
      <input class="male-important-note" type="submit" value="Make the Note Important" (click)="moveToImportantList(note)"/>
    </div>
	</div>
  <div id="call_for_action" [routerLink]="['/important']">To Important notes!</div>
</div>
