<!--<div class="note_tile">-->
  <!--{{ note.title }}-->
<!--</div>-->
<!--<div class="note_body">-->
  <!--{{ note.body}}-->
<!--</div>-->
<div>
  <form  (ngSubmit)="onsubmitNote(note)" >
    <div id="id">
      <label>The id is: </label>
      <input type="text"  value= {{note.id}}/>
    </div>
    <div>
      <label>Title</label>
      <input type="text" value={{note.title}}/>
    </div>
    <div>
      <label>Body </label>
      <input type="text" value={{note.body}}/>
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
